#traffic-lights {
    position: relative;
    height: 250px;
    width: 150px;
    margin: 0 auto;
}

.casing {
    position: absolute;
    height: 175px;
    width: 70px;
    background-color: gray;
    border-radius: 5%;
    top: 17.5px;
    left: 15px;
}

.light {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    bottom: 35px;
    left: 15px;
}

.red {
    background-color: red;
    bottom: 120px;
}

.yellow {
    background-color: yellow;
    bottom: 65px;
}

.green {
    background-color: green;
    bottom: 10px;
}

button {
    display: block;
    margin: 20px 450px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    width: 70px;
    text-align: center;
    cursor: pointer;
}

#startBtn {
    background-color: rgb(200, 232, 200);
    color: white;
}

#startBtn:active {
    background-color: darkgreen;
}

#stopBtn {
    background-color: rgb(219, 143, 143);
    color: white;
}

#stopBtn:active {
    background-color: darkred;
}
